// biến màu sắc
$blue-1: #244496;
$blue-2: #4b65a8;
$blue-3: rgb(36, 70, 150);
$blue-4: #1da1f2;
$blue-5: #3b5998;
$blue-6: #0d6efd;
$white-1: rgb(255, 255, 255);
$white-2: #d9d9d9;
$white-3: #ffffff;
$white-4: #eeeeee;
$white-5: #f1f1f1;
$white-6: #e5e5e5;
$white-7: #e8e8e8;
$white-8: #cdcfdd;
$white-9: #f5f6fa;
$white-10: #ecedf1;
$red: #c11e33;
$red-1: #bd091c;
$red-2: #a21a10;
$red-3: #ff0101;
$black: #000;
$black-1: #1c1c1c;
$black-2: #111;
$black-3: #111111;
$black-4: #252525;
$black-5: #333;
$purple: #833ab4;
$grey: #757575;
$grey-1: #dedddb;
$grey-2: #555;
$yellow: #ffd200;

// Biến font-size
$fs-xs: 8px;
$fs-s: 10px;
$fs-sm: 12px;
$fs-m: 14px;
$fs-base: 16px;
$fs-lg: 20px;
$fs-xl: 24px;
$fs-2xl: 28px;
$fs-h1: 60px;
$fs-lh: 64px;

// Biến font-weight
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extra-bold: 800;
